<p><%= @post_count %> posts from <%= @account_count %> official U.S. government Flickr, Twitter, and YouTube accounts.</p>

<div class="row" id="post-container">
<% @posts.each do |post| %>
<div class="post-item">
  <div class="post-image-<%= post.service %>">
    <a href="<%= post.permalink_url %>" title="view on <%= post.account.service_longname %>" target="_new"><img src="<%= post.image_url %>">
    <% if post.service == 'youtube' %>
      <i class="icon-youtube-play icon-4x"></i>
    <% end %>
    </a>
  </div>
  
  <h5><%= post.title %></h5>
  
  <p class="description"><%= truncate_html(post.description, :word_boundary => /\S[\.\?\!]/) %></p>

  <p class="source"><i class="icon-<%= post.service %> <%= post.service %>-color icon-muted icon-large" title="on <%= post.account.service_longname %>"></i> by <a href="<%= post.profile_url %>"><%= post.ownername %></a> on <%= post.published_at.strftime('%B %d') %></p>
  
  
  <div class="share-buttons <%= @show_sharers ? 'with-google-twitter' : '' %>">
    <% if @show_sharers %>
    <div class="tweetbutton">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= post.permalink_url %>" data-text="Check out this post from <%= post.ownername %>" data-via="usagov" data-count="none">Tweet</a>
    </div>
    <% end -%>
    <div class="pinitbutton">
      <a data-pin-config="none" href="//pinterest.com/pin/create/button/?url=<%= post.permalink_url %>&amp;media=<%= post.image_url %>&amp;description=Check out this post from <%= post.ownername %>" data-pin-do="buttonPin" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
    </div>
    <% if @show_sharers %>
    <div class="plusonebutton">
      <div class="g-plusone" data-size="medium" data-annotation="none" data-href="<%= post.permalink_url %>"></div>
    </div>
    <% end -%>
  </div>
</div>
<% end %>

</div> <!-- post-container -->

<div class="span6 offset3">
<div class="pagination">
  <%= paginate @posts %>
</div>
</div>
